node_modules/
bower_components/
src/\.tmp*
.idea/
/.sass-cache/
public/maps/
public/index.html
public/coffee.js
public/scripts.js
public/templates.js
public/application.js
public/application.css
public/application.min.js
public/application.min.css
public/application.min.js.gz
public/application.min.css.gz
public/custom.css
public/custom.min.css.gz
css/font-awesome/.*
test/*.js
