main.page
  h2 {{::page.data.fields.title.value}}
  .media
    imago-video(data="::page.data" ng-if="::page.data.fields.formats"
      autoplay-inview="{{::!!page.data.fields.autoPlay.value}}"
      controls="{{::!!page.data.fields.controls.value}}")
    imago-image(data="::page.data" ng-if="::!page.data.fields.formats")
  .text(ng-bind-html="::page.data.fields.text.value")
