main.shop
  min-height: calc(100vh - #{$header-height} - #{$footer-height})
  display: flex
  flex-direction: row
  align-items: center
  justify-content: center
  align-content: center
  flex-wrap: wrap
  padding-bottom: 64px
  padding-top: 64px

  .item
    display: inline-block
    vertical-align: top
    width: 375px
    margin-bottom: 36px
    .media
      height: 500px
      position: relative
      .imago-image-content,
      .imago-video-content
        +pos()
      a
        +pos()

    h2
      font-size: 1.5em
      margin: 0
    .price
      span.currency
        font-size: 1.5em


body.desktop


body.mobile

