main.product

  // width: 100%
  max-width: $medium
  margin: auto
  position: relative
  overflow: hidden

  @include min-screen($xsmall)
    .images
      width: calc(100% - 300px)

    .info
      position: absolute
      top: 0
      right: 0
      text-align: left
      .inner
        position: fixed
        width: 300px
        margin-left: -300px
        top: $header-height
        bottom: $footer-height
        display: flex
        flex-direction: column
        align-items: flex-start
        justify-content: center
        align-content: center


  @include max-screen($xsmall)
    padding: 0 1em
    .info
      margin-bottom: 32px


  .btn
    border: 1px solid $text-color-muted

body.desktop
  main.product

body.mobile
  main.product
