a,
button,
.btn
  touch-action: manipulation
  cursor: pointer



.btn,
a.btn
  border: 0
  border-radius: $btn-roundness
  background-color: $btn-default-bg
  color: $btn-default-text-color
  text-transform: uppercase
  cursor: pointer
  line-height: 1
  font-family: inherit
  font-size: inherit
  text-decoration: none
  display: inline-block
  padding: .75em 1.5em
  user-select: none
  &:enabled
    &:hover
      color: black
    &:active
      color: lighten($text-color, 50%)
    &.active
      color: $btn-default-text-color
  &:focus
    outline: none



button:disabled
  opacity: 0.3


.btn-small
  @extend .btn
  font-size: $btn-small-font-size

.btn-large
  @extend .btn
  font-size: $btn-large-font-size


.btn-primary
  @extend .btn
  border: 1px solid $text-color-muted

.btn-primary-small
  @extend .btn
  border: 1px solid $text-color-muted
  font-size: $btn-small-font-size

.btn-primary-large
  @extend .btn
  border: 1px solid $text-color-muted
  font-size: $btn-large-font-size



.btn-primary-inverted
  @extend .btn
  border: 1px solid $text-color-muted
  color: white
  background-color: $btn-default-text-color
  &:enabled
    &:hover
      color: black
      background-color: white
    &:active
      color: lighten($text-color, 50%)
    &.active
      color: $btn-default-text-color
