ul
  li(
    ng-repeat="post in instagram.data"
    ng-style="post.style"
    )
    a(ng-href="{{ post.link }}" target="_blank")
      .caption(ng-if="post.caption.text")
        .content(ng-bind-html="post.caption.text | linkify: 'instagram'")
