.social
  //- a(ng-href="http://instagram.com/mickeymurphysdaughter" target="_blank").instagram Instagram
  a(ng-href="https://www.facebook.com/roisinmurphy" target="_blank").facebook Facebook
  a(ng-href="http://po.st/roisinyoutube" target="_blank").youtube YouTube
  a(ng-href="https://itunes.apple.com/us/artist/roisin-murphy/id17128885" target="_blank").itunes iTunes
  a(ui-sref="subscribe").subscribe Subscribe